<form [formGroup]="pedidoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Shipping Information</mat-card-title>       
    </mat-card-header>
    
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="(00)00000-0000" formControlName="numero_celular">
            <mat-error *ngIf="pedidoForm.controls['numero_celular'].hasError('required')">
              Celular é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>          
        </div>       
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Selecione o dia para entrega" formControlName="dia_entrega">
              <mat-option *ngFor="let dia of dia_entrega" [value]="dia">
                {{ dia }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pedidoForm.controls['dia_entrega'].hasError('required')">
              Unidade de medida é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>  
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Unidade Medida" formControlName="forma_pagamento">
              <mat-option *ngFor="let state of formaspagamento" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="pedidoForm.controls['forma_pagamento'].hasError('required')">
              Unidade de medida é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>    
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button  style="float: right;" mat-raised-button color="danger" type="button" (click)="voltar()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
